.background {
  background: linear-gradient(90deg, #c0f1f1, #d5f1f5);
  min-height: 500px;
}

.title {
  font-size: 3rem;
  color: #0f4c75;
  font-weight: 700;
}

.type {
  font-size: 3rem;
  color: #138496;
  font-weight: 600;
}

@media (max-width: 668px) {
  .type {
    font-size: calc(0.5rem + 1rem);
  }
  .title {
    font-size: calc(0.5rem + 1rem);
  }
  .background {
    height: 630px;
  }
}
